<manifest package="com.zaclimon.xipldemo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.providers.tv.permission.READ_EPG_DATA" />
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" />

    <uses-feature android:name="android.software.leanback" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:banner="@drawable/banner"
        android:theme="@style/Theme.Leanback">

        <activity android:name="com.zaclimon.xipldemo.ui.DemoMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.zaclimon.xipldemo.ui.settings.DemoSettingsElementActivity"/>
        <activity android:name="com.zaclimon.xipldemo.ui.urlinput.UrlInputActivity" android:exported="true"/>
        <activity android:name="com.zaclimon.xipldemo.ui.tvinputsetup.DemoTvInputSetupActivity" android:exported="true"/>

        <service android:name="com.zaclimon.xipl.service.ProviderTvInputService"
                 android:label="@string/tv_input_label"
                 android:permission="android.permission.BIND_TV_INPUT">
            <intent-filter>
                <action android:name="android.media.tv.TvInputService" />
            </intent-filter>
            <meta-data
                android:name="android.media.tv.input"
                android:resource="@xml/tv_input_service" />
        </service>

        <service
            android:name="com.zaclimon.xipldemo.service.DemoEpgService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />

    </application>

</manifest>
